<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of chatTypeList">
    <ng-container *ngFor="let item of chatTypeList">
    {{item['chat']['chatRooms']}}
      <ion-item>

        <ion-label>
          <h2>{{item.chatRooms}}</h2>
          <p></p>
        </ion-label>

        <ion-icon name="people-outline" *ngIf="item.IsGroupChat === true"></ion-icon>

      </ion-item>
    </ng-container>
  </div>
</ion-content>
