/* ion-segment{
  --background: none;
}

ion-segment-button{
  font-size: 1rem;
  --border-width: 0;
  --padding-start: 8px !important;
  --padding-bottom: 3px !important;
  --padding-end: 3px !important;
  --padding-top: 8px !important;
  --background-checked: #f65a4b;
  --color-checked: white;
  --indicator-color: transparent !important;
  font-weight: bold;
  border-radius: 22px;
}

*/
/* Classes */

/* .info-div{
  position: absolute;
  right: 0;
  font-size: 0.8rem;
  color: #737274;
  font-weight: bolder;
  text-align: right;
}
*/
ion-content {
  width: 100%;
}

ion-list {
  overflow-y: scroll;
  height: 100%;
}

/* ion-badge{
  font-size: 11px;
  margin-bottom: 5px;
  --padding-start: 5px;
  --padding-end: 5px;
  --padding-bottom: 3px;
  --padding-top: 3px;
  --background: red;
} */
cdk-virtual-scroll-viewport {
  min-height: 100%;
  width: 100%;
  overflow: scroll;
}


/* img {
  width: 50px !important;
  max-width: none !important;
  border: 1px solid rgba(42, 42, 42, 0.364);
  height: 50px;
  position: relative;
  border: -1px;
  bottom: 5px;
  right: 1px
} */

img{
  margin: 0 auto;
  margin-top: 11rem;
  display: flex;
}


.texto{
    text-align: center;
      font-size: 20px;
      font-weight: 500;
      margin-top: 1rem !important;
}
