<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button type="button" defaultHref="alertas"></ion-back-button>
    </ion-buttons>
    <ion-title>Voluntarios</ion-title>
  </ion-toolbar>
</ion-header>

<div>
  <ion-toolbar>
    <ion-searchbar id="search"
    debounce="250"
    placeholder="Buscar voluntario..."
    (ionChange)="search($event)"
    animated
    ></ion-searchbar>
  </ion-toolbar>
</div>

<ion-content *ngIf="volunteers">
  <ion-list *ngFor="let item of volunteers | filter: textoBuscar: 'name'" >
    <ion-item [routerLink]="['details', item.id]">
      <ion-label id="volunteerName">{{item.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<!-- <app-menu showTabs></app-menu> -->
