<ion-router-outlet>
<div>
   <ion-header color="white">
    <ion-toolbar>
    <ion-title color="white">Voluntarios</ion-title>
   </ion-toolbar>
  </ion-header>
</div>

<div>
  <ion-toolbar no-border>
    <ion-searchbar #search
    debounce="500"
    placeholder="Buscar voluntario..."
    animated
    (ionChange)="_ionChange($event)"></ion-searchbar>
  </ion-toolbar>
</div>

<ion-content>

  <ion-list #lista>
    <ion-item-sliding *ngFor="let volunteer of volunteers">

      <ion-item routerLink='details'>
        <ion-avatar>
          <ion-img>

          </ion-img>
        </ion-avatar>
          <ion-label> Nombre y Apellido:{{volunteer.users.persons.firstName}} {{volunteer.users.persons.lastName}}</ion-label>
      </ion-item>

      <!--Agregando los íconos-->

      <ion-item-options side="start">
        <ion-item-option color="success" name="archive" expandable>
          <ion-icon slot="icon-only" class="icons" name="chatbubbles"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option (click)="borrar()" color="danger" name="delete">
          <ion-icon slot="icon-only" class="icons" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>
</ion-router-outlet>
