<div>
   <ion-header color="white">  
    <ion-toolbar>
    <ion-title color="white">Voluntarios</ion-title>
   </ion-toolbar>
  </ion-header>
</div>

<div>
  <ion-toolbar no-border>
    <ion-searchbar 
    placeholder="Buscar usuario..."
    animated
    (ionChange)="search($event)"></ion-searchbar>
  </ion-toolbar>
</div>

<ion-content>
  
  <ion-list #lista>
    <ion-item-sliding *ngFor="let volunteer of volunteers | filtro: textoBuscar">

      <ion-item>
        <div>
          <ion-label id="avatar">{{volunteer.volunteerAvatar}}</ion-label>
          <ion-label> <h3>Nombre y Apellido:</h3> <p>{{volunteer.users.persons.firstName}} {{volunteer.users.persons.lastName}}</p></ion-label>
        </div>
          <ion-label id="capacitacion"> <h3>Capacitación:</h3> <p>{{volunteer.volunteerSkills}}</p></ion-label>
      </ion-item>

      <!--Agregando los íconos-->
      
      <ion-item-options side="start">
        <ion-item-option color="success" name="archive" expandable>
          <ion-icon slot="icon-only" class="icons" name="chatbubbles"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option (click)="borrar(user)" color="danger" name="delete">
          <ion-icon slot="icon-only" class="icons" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</ion-content>
