/* Componentes de Ionic */

img {
  border-radius: 15px;
  width: 80px;
  height: 80px;
}

ion-icon{
  width: 18px;
  height: 18px;
}

ion-input{
  font-size: 14px;
}

ion-label{
  font-size: 14px;
}

/* Clases */

.accButton{
  --background: red;
    text-align: center;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:80%;
    margin-left: 1.8rem;
    margin-bottom: 1rem;
}

.accButton{
  overflow: visible;
}

.avatarMrg{
  padding: 15px;
}

.avatar{
  position: relative;
  left: 40%;
}

.cameraBtn{
  margin-top: 10px;
  --border-width: 1px;
  --border-color: var(--ion-color-light-shade);
  --border-style: solid;
  --padding-start: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --padding-top: 0;

  --border-radius: 50%;
  height: 26px;
  width: 26px;

  position: absolute;
  right: -10px;
  bottom: -25px;
}
