
  /* Tabs */

  ion-tab-bar{
    position: absolute;
    height:60px;
    width: 90%;
    bottom: 0;
    font-size: 20px;
    align-self: center;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 1rem;
    --border:none;
    --background: rgba(0,0,0,0.45);
  }

  ion-tab-button{
    --background: rgba(0, 0, 0, 0.45);
  }

  ion-icon{
    font-size: 35px;
  }

  /* Botón de Perfil */

  #menu-fab-button{
    width: 45px;
    height: 45px;
    --background: rgba(255, 255, 255, 0.5);
  }

  #fab{
    margin-top: 1.4rem;
  }
