
<!-- Tabs / Menu de acceso -->

<ion-tabs id="principal">
  <div style="background-color: transparent;">
    <ion-tab-bar id="tabs" slot="bottom">

      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="alertas">
        <ion-icon name="warning-outline"></ion-icon>
        <ion-label>Alertas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="chat">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <!-- <ion-badge color="danger">11</ion-badge> -->
        <ion-label>Chat</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="account">
        <ion-icon name="person-outline"></ion-icon>
        <!-- <ion-badge color="danger">11</ion-badge> -->
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </div>
</ion-tabs>

<!-- Menu Window -->

<!-- <ion-menu type="overlay" side="end" menuID= "menuID" swipeGesture="true" contentId="principal">
  <ion-header>
    <ion-toolbar>
      <ion-avatar>
        <img *ngIf="currentUser.roleName == 'Voluntario'" src="{{currentUser.volunteerAvatar}}" alt="">
      </ion-avatar>
      <ion-icon *ngIf="currentUser.roleName != 'Voluntario'" style="margin-left: 10px; font-size: 48px;" button id="user" name="person-circle-outline"></ion-icon>
      <ion-title>{{currentUser.persons.firstName}} {{currentUser.persons.lastName}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
        <ion-item button="true" (click)="navigateAccount()">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Cuenta</ion-label>
        </ion-item>

        <ion-item button="true" (click)="logout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Cerrar Sesión</ion-label>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-menu> -->

