<!-- Boton de Perfil -->

<ion-fab horizontal='end'>
  <ion-fab-button id="menu-fab-button" (click)="navigateTabAlertProfile()">
    <ion-icon name='person-outline'></ion-icon>
  </ion-fab-button>
</ion-fab>

<!-- Tabs / Menu de acceso -->

<ion-tabs>
  <div style="background-color: transparent;">
    <ion-tab-bar id="tabs" slot="bottom">

      <ion-tab-button (click)="navigateTabAlert()" tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="navigateTabAlert()" tab="alertas">
        <ion-icon name="warning-outline"></ion-icon>
        <ion-label>Alertas</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="navigateTabChat()" tab="chat">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <!-- <ion-badge color="danger">11</ion-badge> -->
        <ion-label>Chat</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </div>
</ion-tabs>

