<div>
  <ion-header class="ion-no-border">
    <div>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button type="button" defaultHref="voluntarios"></ion-back-button>
        </ion-buttons>
        <ion-title>Detalles del Voluntario</ion-title>
      </ion-toolbar>
    </div>
  </ion-header>
</div>

<ion-content>
  <div class="container" *ngIf="volunteer">
      <ion-card>
        <ion-card-header>

          <!-- Nombre y Apellido -->

          <ion-card-title>
            {{volunteer.name}}
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>

          <ion-item>

            <!-- Capacitaciones -->

            <ion-label>
              Capacitacion/es: {{volunteer.volunteersSkills}}
            </ion-label>

          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>
</ion-content>

