<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-list>
      <ion-item>
        <h3>
          <ion-icon name="settings-outline"></ion-icon>
          Configuración
        </h3>
      </ion-item>
  </div>

  <div>
    <ion-item>
      <ion-icon name="help-outline"></ion-icon>
        <h3>
          Ayuda
        </h3>
    </ion-item>
  </div>

  <div>
    <ion-item>
      <ion-icon name="log-out-outline"></ion-icon>
      <h3>
        Cerrar Sesión
      </h3>
    </ion-item>
  </div>
  </ion-list>
</ion-content>
