<ion-content>
    <ion-icon button id="user"name="person-circle-outline"></ion-icon>

    <ion-list>
      <div>
        <ion-item button routerLink='cuenta'>
          <h2>
            <ion-icon name="settings-outline"></ion-icon>
              Configuración
          </h2>
        </ion-item>
      </div>

      <div>
        <ion-item button>
          <ion-icon name="help-outline"></ion-icon>
          <h2>
              Ayuda
          </h2>
        </ion-item>
      </div>

      <div>
        <ion-item button (click)="ngOnDestroy()">
          <ion-icon name="log-out-outline"></ion-icon>
            <h2>
              Cerrar Sesión
            </h2>
        </ion-item>
      </div>
    </ion-list>
</ion-content>
