<ion-header>
  <ion-toolbar>
    <ion-title size="small">Información Personal</ion-title>
    <ion-buttons slot="start">
      <ion-back-button type="button" defaultHref="/tabs/account"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Formulario -->

  <form [formGroup]="fg" (ngSubmit)="onSubmit()">

    <ion-card>

      <ion-avatar class="imagen-class row">
        <div class="custom-file fileInputProfileWrap col-12">
          <input type="file" (change)="selectFiles($event)" class="fileInputProfile">
          <div class="img-space">

            <ng-container *ngIf="previews else elseTemplate">
              <img [src]="previews" class="img-responsive">
            </ng-container>
            <ng-template #elseTemplate>
              <img src="https://i.imgur.com/S9HJEwF.png" class="img-responsive">
            </ng-template>
          </div>
        </div>

        <div *ngFor="let progressInfo of progressInfos" class="col-12 mt-2">
          <span *ngIf="message.length">{{ message }} </span>
          <mat-toolbar class="progress-bar">
            <mat-progress-bar color="accent" [value]="progressInfo.value"></mat-progress-bar>
            <span class="progress">{{ progressInfo.value }}%</span>
          </mat-toolbar>
        </div>

      </ion-avatar>


      <!-- <div class="overlay">
        <ion-avatar>
          <img src="{{this.currentUser.avatar}}">
        </ion-avatar>
      </div> -->

      <!--Header del card-->

      <!-- <ion-card-header>
        <ion-card-title>
          Datos de contacto
        </ion-card-title>
      </ion-card-header> -->

      <!--Contenido del card-->

      <ion-card-content>
        <div formGroupName="persons">
          <ion-item>
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input formControlName="email" name="email" type="email" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Teléfono</ion-label>
            <ion-input formControlName="phone" name="phone" type="phone" required></ion-input>
          </ion-item>
        </div>

        <div formGroupName="persons">
          <ion-item>
            <ion-label position="floating">Ciudad</ion-label>
            <ion-input formControlName="locationName" name="locationCityName" type="locationCityName" required>
            </ion-input>
          </ion-item>
        </div>

        <div formGroupName="persons">
          <ion-item>
            <ion-label position="floating">Domicilio</ion-label>
            <ion-input formControlName="address" name="address" type="address" required></ion-input>
          </ion-item>
        </div>

        <div formGroupName="persons">
          <ion-item id="accSelect">
            <ion-label position="floating">Disponibilidad ante alertas</ion-label>
            <ion-select cancelText="Cancelar" formControlName="status" name="status" okText="Aceptar"
              value="this.currentUser.persons.status">
              <ion-select-option [value]=true>Disponible</ion-select-option>
              <ion-select-option [value]=false>No disponible</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-card-content>
    </ion-card>
    <!-- [disabled]="!initForm().valid" -->
  </form>
  <div class="btnIonic">
    <ion-button [disabled]="fg.invalid" class="accButton" type="submit" shape="round" (click)="onSubmit()">
      <span *ngIf="!isLoading"> Guardar</span>
      <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
    </ion-button>
  </div>
</ion-content>