ion-card{
  --ion-background-color: transparent !important;
  box-shadow: none;
  text-align: center;
  position: relative;
  right: 10px;
}

ion-select{
  --padding-top: 1rem;
  --padding-bottom: 1rem;
}

/* Clases */

.accButton{
  --background: red;
  text-align: center;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width:80%;
  margin-left: 1.8rem;
  margin-bottom: 1rem;
}
