<ion-header>
  <ion-toolbar>
    <ion-title  size="small">Información Personal</ion-title>
    <ion-buttons slot="start">
      <ion-back-button type="button" defaultHref="/tabs/account"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- Formulario -->

  <form [formGroup]="fg" (ngSubmit)="onSubmit()">

    <ion-card>

      <!--Header del card-->

      <!-- <ion-card-header>
        <ion-card-title>
          Datos de contacto
        </ion-card-title>
      </ion-card-header> -->

      <!--Contenido del card-->

      <ion-card-content>
      <div formGroupName="persons">
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input formControlName="email" name="email" type="email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input formControlName="phone" name="phone" type="phone" required></ion-input>
        </ion-item>
      </div>

      <div formGroupName="estates">
        <ion-item>
          <ion-label position="floating">Ciudad</ion-label>
          <ion-input formControlName="locationCityName" name="locationCityName" type="locationCityName" required></ion-input>
        </ion-item>
      </div>

      <div formGroupName="persons">
        <ion-item>
          <ion-label position="floating">Domicilio</ion-label>
          <ion-input formControlName="address" name="address" type="address" required></ion-input>
        </ion-item>
      </div>

      <div formGroupName="persons">
        <ion-item id="accSelect">
          <ion-label  position="floating">Disponibilidad ante alertas</ion-label>
          <ion-select cancelText="Cancelar" formControlName="status" name="status" okText="Aceptar" value="this.currentUser.persons.status">
            <ion-select-option  [value]=true>Disponible</ion-select-option>
            <ion-select-option [value]=false>No disponible</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      </ion-card-content>
    </ion-card>
      <!-- [disabled]="!initForm().valid" -->
  </form>
  <div class="btnIonic">
    <ion-button
      [disabled]="fg.invalid"
      class="accButton"
      type="submit"
      shape="round"
      (click)="onSubmit()"
    >
     <span *ngIf="!isLoading"> Guardar</span>
     <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
    </ion-button>
  </div>
</ion-content>
