

<ion-header>
  <ion-toolbar>
    <ion-title>Credenciales</ion-title>
    <ion-buttons slot="start">
      <ion-back-button type="button" defaultHref="account"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
 </ion-header>

<ion-content>
  <div class="volunteerCard">
    <ion-card class="cardContent">
      <ion-card-header>
        <div class="logo-cr">
          <img src="../../../assets/icons - navbar/CredencialLogo.jpg" alt="">
        </div>
        <div class="cardPerson">
            <span><h4>{{this.currentUser.persons.lastName}}, {{this.currentUser.persons.firstName}}</h4></span>
            <span><h5>{{this.currentUser.userDni}}</h5></span>
            <span>Cruz Roja Argentina</span>
        </div>
      </ion-card-header>

      <ion-card-content>
        <ion-avatar>
          <img src="{{this.currentUser.volunteerAvatar}}">
        </ion-avatar>
          <ion-grid>
            <ion-row>
              <div class="cardInfo">
                <ion-col>
                  Cargo: {{this.currentUser.roleName}}
                </ion-col>
                <ion-col offset-4="">
                  Sucursal: {{this.currentUser.estates.locationCityName}}
                </ion-col>
              </div>
            </ion-row>
          </ion-grid>
      </ion-card-content>
    </ion-card>
</div>
<form [formGroup]="fg" (ngSubmit)="onSubmit()">

    <ion-card>

      <!--Header del card-->

      <ion-card-header>
        <ion-card-title>
          Datos de contacto
        </ion-card-title>
      </ion-card-header>

      <!--Contenido del card-->

      <ion-card-content formGroupName="persons">

        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input formControlName="email" name="email" type="email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input formControlName="phone" name="phone" type="phone" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Domicilio</ion-label>
          <ion-input formControlName="address" name="address" type="address" required></ion-input>
        </ion-item>
        <ion-item id="accSelect">
          <ion-label>Disponibilidad</ion-label>
          <ion-select cancelText="Cancelar" okText="Aceptar" value="{{this.currentUser.persons.status}}">
            <ion-select-option value="true">Disponible</ion-select-option>
            <ion-select-option value="false">No disponible</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>
      <!-- [disabled]="!initForm().valid" -->
</form>

<!-- <form [formGroup]="fg" >
  <ion-card>


    <ion-card-header>
      <ion-card-title>
        Datos de contacto
      </ion-card-title>
    </ion-card-header>



    <ion-card-content formGroupName="persons">
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input formControlName="email" name="email" type="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input formControlName="phone" name="phone" type="phone" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Domicilio</ion-label>
        <ion-input formControlName="address" name="address" type="address" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Ciudad</ion-label>
        <ion-input formControlName="locationCityName" name="locationCityName" type="locationCityName" required></ion-input>
      </ion-item>

      <ion-item id="accSelect">
        <ion-label>Disponibilidad</ion-label>
        <ion-select cancelText="Cancelar" okText="Aceptar" value="{{this.currentUser.persons.status}}">
          <ion-select-option value="true">Disponible</ion-select-option>
          <ion-select-option value="false">No disponible</ion-select-option>
        </ion-select>
      </ion-item>
      </ion-card-content>
    </ion-card>
  <ion-button
    [disabled]="!initForm().valid"
    class="accButton"
    type="submit"
    shape="round"
    >
  Guardar
  </ion-button>
</form> -->

</ion-content>
