

<ion-header>
  <ion-toolbar>
    <ion-title>Credenciales</ion-title>
    <ion-buttons slot="start">
      <ion-back-button type="button" defaultHref="account"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-content">
    <ion-card class="card-c">
      <ion-card-header>
        <div class="logo-cr">
          <img src="../../../assets/icons - navbar/CredencialLogo.jpg" alt="">
        </div>
        <div class="cardPerson">
            <span><h3>{{this.currentUser.persons.lastName}}, {{this.currentUser.persons.firstName}}</h3></span>
            <span><h3>{{this.currentUser.userDni}}</h3></span>
            <span>Cruz Roja Argentina</span>
        </div>
      </ion-card-header>

      <ion-card-content>
          <ion-grid>
            <ion-row>
              <div class="cardInfo">
                <ion-col>
                  Cargo: <h6>{{this.currentUser.roleName}}</h6>
                </ion-col>
                <ion-col offset-4="">
                  Sucursal: {{this.currentUser.estates.locationCityName}}
                </ion-col>
              </div>
            </ion-row>
          </ion-grid>
      </ion-card-content>
    </ion-card>
</div>
</ion-content>
