/* Componentes de Ionic*/

img{
  max-width: none;
  width: 50px;
  height: 50px;
  margin-right: 18rem;
}

ion-col {
  padding: 0 !important;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-radius: 10px;
  margin-top: 18px;
  margin-left: 5px;
}

ion-row {
  display: flex;
  justify-content: space-around;
  width: 93%;
}

ion-select{
  --padding-top: 1rem;
  --padding-bottom: 1rem;
}

/* Clases */

.volunteerCard{
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 400px;
  margin: auto;
  flex-direction: column;
  border-radius: 15px;
}

.cardTemplate {
  height: 100%;
  background: linear-gradient(to top right, #F1F1F1 0%,
    rgb(242, 242, 242) 62%,
    rgba(21, 22, 22, 0.315)100%
  ) !important;
}

.cardHeader{
  max-width: none;
  width: 300px;
  height: 100px
}

.cardContent{
  height: 100px;
}

.cardPerson{
  position: relative;
  bottom: 4rem;
  left: 1rem;
}

.cardInfo{
  position: relative;
  bottom: 4rem;
  left: 1rem;
}

.credentialCards{
  border-radius: 20px;
}

.accButton{
  --background: red;
    text-align: center;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:80%;
    margin-left: 1.8rem;
    margin-bottom: 1rem;
}
