

<ion-header>
  <ion-toolbar>
    <ion-title>Credenciales</ion-title>
    <ion-buttons slot="start">
      <ion-back-button type="button" defaultHref="/tabs/account"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
 </ion-header>

<ion-content>
  <div class="volunteerCard">
    <ion-card class="cardTemplate">
      <ion-card-header class="cardHeader">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="logo-cr">
                <img src="../../../assets/icons - navbar/CredencialLogo.jpg" alt="">
              </div>
            </ion-col>
            <ion-col>
              <div class="cardPerson">
                  <span><h5>{{this.currentUser.persons.lastName}}, {{this.currentUser.persons.firstName}}</h5></span>
                  <span><h6>{{this.currentUser.userDni}}</h6></span>
                  <span>Cruz Roja Argentina</span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content class="cardContent">
        <ion-avatar>
          <img src="{{this.currentUser.volunteerAvatar}}">
        </ion-avatar>
          <ion-grid>
            <ion-row>
              <div class="cardInfo">
                <ion-col>
                  Cargo: {{this.currentUser.roleName}}
                </ion-col>
                <ion-col offset-4="">
                  Sucursal: {{this.currentUser.estates.locationCityName}}
                </ion-col>
              </div>
            </ion-row>
          </ion-grid>
      </ion-card-content>
    </ion-card>
</div>
</ion-content>
