/* Etiquetas */

img {
  max-width: none;
}

/* Clases */

/* p > span{
      margin-left: 5rem;
} */

.cardPerson {
  position: relative;
  bottom: 10rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 1px solid rgba(223, 215, 215, 0.593);
  margin-left: 1rem;
}

.information {
  position: relative;
  top: 5rem;
  left: 10rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cardPerson p {
  margin: 0px !important;
  line-height: 25px !important;
  position: relative;
  /* left: 1rem; */
}

.cardPerson .name {
  margin-top: 1rem !important;
}

.role{
  width: 94%;
  display: flex;
  justify-content: space-between;
}

.cardPerson .name, .cardPerson .lastName {
  font-size: 20px;
}

.cardPerson .dni, .cardPerson .roleName {
  font-size: 15px;
  /* left: 2rem; */
  /* margin-top: 1rem !important; */
}

.cardPerson .roleName {
  font-size: 12px;
  margin-top: 8px !important;
}

/* .cardPerson .roleName span {
  margin-left: 1.8rem !important;
} */

/* .cardPerson .lastName {
  left: 1.8rem;
} */

.dataField {
  font-size: 11px;
}

.cardInfo {
  position: relative;
  color: black;
}

/* IDs */

#crLogo {
  width: 50px;
  height: 50px;
  position: relative;
  top: 4.6rem;
}

#crLogo2 {
  position: relative;
  bottom: 6rem;
}

#avatarLogo {
  position: relative;
  width: 100px;
  height: 100px;
  bottom: 16rem;
  right: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

#reminder {
  margin-top: 1rem;
  text-align: center;
}

/* Ionic Flip CSS */

body {
  font-family: sans-serif;
}

.scene {
  /* width: 300px;
  height: 310px; */
  margin: 22px 0;
  perspective: 600px;
}

.scene--card {
  margin-left: 0.7rem;
  margin-bottom: 0.2rem;
}

.card {
  width: 92%;
  height: 400px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  border-radius: 20px;
}

.card.is-flipped {
  transform: rotateY(180deg);
}


.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  background: linear-gradient(to top right, #F1F1F1 0%,
      rgb(242, 242, 242) 62%,
      rgba(21, 22, 22, 0.315)100%) !important;
}

.card__face--back {
  background: linear-gradient(to top right, #F1F1F1 0%,
      rgb(242, 242, 242) 62%,
      rgba(21, 22, 22, 0.315)100%) !important;
  transform: rotateY(180deg);
}