<ion-header>
  <ion-toolbar>
    <ion-title>Contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button type="button" defaultHref="/tabs/account"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="fg">

  <!-- Formulario -->

  <form [formGroup]="fg" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-card>

      <!-- Contraseña -->

      <!--Contenido-->

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Actual contraseña</ion-label>
          <ion-input formControlName="userPassword" name="userPassword" type="password" required></ion-input>
          <!-- <span *ngIf="fg.get('Password').errors &&
          fg.get('Password').hasError('required') && submitted" slot="error">Contraseña requerida</span> -->

        </ion-item>
        <div *ngFor="let error of errorMessages.Password">
          <ng-container *ngIf="Password.hasError(error.type) && (Password.dirty || Password.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Nueva contraseña</ion-label>
          <ion-input formControlName="userNewPassword" name="userNewPassword" type="password" required></ion-input>
          <!-- <span *ngIf="fg.get('NewPassword').errors &&
          fg.get('NewPassword').hasError('required') && submitted" slot="error">Nueva contraseña requerida</span> -->

        </ion-item>
        <div *ngFor="let error of errorMessages.NewPassword">
          <ng-container *ngIf="NewPassword.hasError(error.type) && (NewPassword.dirty || NewPassword.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Repetir contraseña</ion-label>
          <ion-input formControlName="passwordRepeat" name="repeatPassword" type="password" required></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.RepeatPassword">
          <ng-container *ngIf="RepeatPassword.hasError(error.type) && (RepeatPassword.dirty || RepeatPassword.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

        <div class="error-message" *ngIf="!fg.get('passwordRepeat').errors && fg.hasError('passwordNotMatch') && (fg.get('passwordRepeat').dirty || fg.get('RepeatPassword').touched)">
          <small class="error-message">Las contraseñas deben ser iguales</small>
        </div>

        <!-- <div class="error"
            *ngIf="fg.get('RepeatPassword').hasError('equalTo') && fg.get('RepeatPassword').dirty || fg.get('RepeatPassword').touched">
            <small class="error_message">La contraseñas deben ser iguales</small>
          </div> -->

        <!-- <p *ngIf="!isOk && submitted" slot="error">La contraseña no coincide</p>
        <p *ngIf="fg.get('RepeatPassword').errors &&
        fg.get('RepeatPassword').hasError('required') && submitted && isOk" slot="error">Requerida</p> -->

      </ion-card-content>
    </ion-card>
  </ion-list>
</form>

      <ion-button [disabled]="fg.invalid"
        class="accButton"
        type="submit"
        shape="round"
        (click)="onSubmit()">
        <span *ngIf="!isLoading"> Guardar</span>
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
      </ion-button>
</ion-content>
