<ion-header>
  <ion-toolbar>
    <ion-title>Contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button type="button" defaultHref="/tabs/account"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="fg">

  <!-- Formulario -->

  <form [formGroup]="fg" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-card>

      <!-- Contraseña -->

      <!--Contenido-->

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Actual contraseña</ion-label>
          <ion-input formControlName="Password" name="password" type="password" required></ion-input>
          <span *ngIf="fg.get('Password').errors && 
          fg.get('Password').hasError('required') && submitted" slot="error">Contraseña requerida</span>

        </ion-item>

        <ion-item>
          <ion-label position="floating">Nueva contraseña</ion-label>
          <ion-input formControlName="NewPassword" name="newPassword" type="password" required></ion-input>
          <span *ngIf="fg.get('NewPassword').errors && 
          fg.get('NewPassword').hasError('required') && submitted" slot="error">Nueva contraseña requerida</span>

        </ion-item>

        <ion-item>
          <ion-label position="floating">Repetir contraseña</ion-label>
          <ion-input formControlName="RepeatPassword" name="repeatPassword" type="password" required></ion-input>
            <p *ngIf="!isOk && submitted" slot="error">La contraseña no coincide</p>
            <p *ngIf="fg.get('RepeatPassword').errors && 
            fg.get('RepeatPassword').hasError('required') && submitted && isOk" slot="error">Requerida</p>


        </ion-item>

      </ion-card-content>
      <ion-button
        class="accButton"
        type="submit"
        shape="round"
        (click)="onSubmit()">
        <span *ngIf="!isLoading"> Guardar</span>
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
      </ion-button>
      </ion-card>
    </ion-list>
</form>
</ion-content>