<ion-header>
  <ion-toolbar>
    <ion-title>Contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button type="button" defaultHref="cuenta"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Formulario -->

  <form [formGroup]="fg" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-card>

      <!-- Contraseña -->

      <!--Header-->

      <ion-card-header>
        <ion-card-title>
          Contraseña
        </ion-card-title>
      </ion-card-header>

      <!--Contenido-->

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Actual contraseña</ion-label>
          <ion-input formControlName="Password" name="password" type="text" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nueva contraseña</ion-label>
          <ion-input formControlName="NewPassword" name="newPassword" type="text" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Repetir contraseña</ion-label>
          <ion-input formControlName="RepeatPassword" name="repeatPassword" type="text" required></ion-input>
        </ion-item>

      </ion-card-content>
      <ion-button
        [disabled]="!initForm().valid"
        class="accButton"
        type="submit"
        shape="round"
        (click)="onSubmit()">
      Guardar</ion-button>
      </ion-card>
    </ion-list>
</form>
