ion-content{
--background: transparent;
width: 100%;

  }

.container{
  width: 100%;
  height: 100%;
  padding: 0 !important;
  }

capacitor-google-maps {
  display: inline-block;
  width: 100%;
  height: 100%;
  } 

  .boton{
    /* top: 1px; */
    margin-bottom: 55px;
  }