<ion-content enctype="application/json" class="ion-margin-vertical">
  <form [formGroup]="credentials" (ngSubmit)="onSubmit()">
    <div class="ion-text-center ixd">
      <img
        class="img text-danger"
        src="https://1.bp.blogspot.com/-XnYaCR8Oah4/XwzTOABWn3I/AAAAAAAABaY/-EyDoHPCIIQ6EAloBqlxoLnmyXWUu2DmwCLcBGAsYHQ/s320/cruzar.png"
      />
      <h2>SICREYD</h2>
    </div>
    <div class="ion-div">
      <ion-item>
        <ion-label position="fixed">Dni</ion-label>
        <ion-input
          formControlName="UserDni"
          name="dni"
          type="text"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Contraseña</ion-label>
        <ion-input
          formControlName="UserPassword"
          name="passWord"
          type="password"
          required
        ></ion-input>
      </ion-item>

      <div class="buttonstyle" >
        <button
          (click)="showLoading()"
          type="submit"
          [disabled]="!credentials.valid"
        >
          Ingresar
        </button>
      </div>
      <div>
          <ion-button fill="clear" id="forgotPassword" routerLink='/forgotpassword' >¿Has olvidado tu contraseña?</ion-button>
      </div>
    </div>
  </form>
</ion-content>
