
  
  h2 {
    font-size: 40px;
    font-weight: bold;
  }

  .img {
    height: 120px;
    width: 120px;
    position: static;
  }

  .ion-div{
    margin-top: 3rem;
  }

  .ixd{
    box-shadow: 2px 2px 5px 8px rgba(0, 0, 0, 0.1);
  }

  ion-item {
    --ion-item-background: #bd2d2d;
    color: rgb(255, 253, 253);
    --border-color: #fffff;
  }

  ion-label{
    font-weight: bold;
  }

  ion-content {
    --ion-background-color:#bd2d2d !important;
    border-radius: 25px;
    overflow: hidden;
  }
  .form-input{
    display: flex;
  }
  
  form{
    margin-top: 6rem;
  }

  button {
    background-color: white;
    color: rgb(20, 20, 20);
    width: 65%;
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
    padding: 12px;
  }

  .buttonstyle{
    display: 	flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 3rem;
  }
  
  
