/* Componentes de Ionic */

img {
  max-width: none;
}

body {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100vw;
}

span {
  font-size: 12px;
}

/* Clases */

.modo {
  text-align: center;
}

.modo h2 {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.124);
  font-size: 18px;
  margin-top: 2rem;
}

.modo h4 {
  font-size: 20px;
  margin: 2rem 0;
}

.container {
  background-color: #ffffff;
}

.header {
  height: 20%;
  background-color: #86898a;
}

.instruction {
  overflow-y: scroll;
  max-height: 200px;
}

.instruction::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}

.instruction::-webkit-scrollbar {
  width: 1px;
  background-color: #F5F5F5;
}

.instruction::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #D62929;
}

.imgInfo {
  background-color: #ffffff;
  /* border-radius: 50%; */
}

.emergencyIcon {
  width: 60%;
}

.location {
  border: 1px solid #ccc;
  height: max-content;
  font-size: 11px
}

.accButton {
  --background: #bd2d2d;
  text-align: center;
  border: none;
  border-radius: 8px;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 1rem 0 1rem 1.64rem;
  /*   margin-left: 1.8rem;
  margin-bottom: 1rem; */
}

.date .calendar,
.date .person {
  margin-left: 20px;
}

.circulo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #000;
  margin: 5px 0;
}

.calendarResponsible {
  text-align: left;
}

.volunteers {
  font-size: 20px;
  position: absolute;
  top: 8px;
  right: 15px;
}

/* IDs */

#map {
  height: 30vh;
}

#calendarIcon {
  font-size: 20px;
  margin-bottom: -3px;
  margin-right: 3px;
}

#responsibleIcon {
  font-size: 20px;
  margin-bottom: -3px;
  margin-right: 3px;
}

#emergencyTitle {
  margin-left: 6rem;
}
