<ion-content>
  <div class="header">
    <div class="imgInfo">
      <img class="emergencyIcon"
        src="../../../assets/icons - Resources - EmergDesas/{{emergencies.typesEmergenciesDisasters.typeEmergencyDisasterIcon}}.svg"
      />
    </div>
  </div>

  <ion-title id="emergencyTitle">Inundación</ion-title>

  <div>
    <ion-label>Responsable: </ion-label>
    <ion-label>Fecha de Inicio: </ion-label>
  </div>

  <ion-button *ngIf="!isAccepted" [disabled]="isAccepted" (click)="setChatGroup()" expand="block">
    Aceptar
  </ion-button>

  <div id="map"></div>
</ion-content>
