<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button type="button" defaultHref="alertas"></ion-back-button>
    </ion-buttons>
    <ion-title>Informe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="modo">
    <div class="tab-content">
      <div>
        <h4>
          {{emergencies.locationsEmergenciesDisasters.locationCityName}} -
          {{emergencies.typesEmergenciesDisasters.typeEmergencyDisasterName}}
        </h4>

        <div class="calendarResponsible">
          <p>
            <ion-icon id="calendarIcon" name="calendar-outline"></ion-icon>
            <span>Fecha de inicio: {{emergencies.emergencyDisasterStartDate | date: 'dd/MM/yyyy hh:mm:ss
              a'}}</span>
          </p>

          <p>
            <ion-icon id="responsibleIcon" name="person-outline"></ion-icon>
            <span>Responsable:
              {{emergencies.employees.name}}
            </span>
          </p>
        </div>

        <ion-icon name="locate-outline" [routerLink]="['/alertas','volunteerMap']"></ion-icon>
        <ion-icon name="accessibility-outline" [routerLink]="['/alertas','emergency', emergencies.emergencyDisasterID]" class="volunteers"></ion-icon>

        <div class="date map-container">
          <div class="location map-frame">
            <div id="map">
            </div>
        </div>

          <h2>
            Instrucciones
          </h2>

          <!-- <div class="instruction location">
            {{emergencies.emergencyDisasterInstruction}}
          </div> -->
        </div>
      </div>
    </div>

    <ion-button shape="round" class="accButton"
      *ngIf="!isSubscribe"
      [disabled]="isSubscribe" (click)="setChatGroup()" expand="block">
      Subscribirme a la alerta!
    </ion-button>
  </section>
</ion-content>
