/* Clases */

.header{
  height: 20%;
  background-color: #86898a;
}

.imgInfo{
  background-color: #ffffff;
  border-radius: 50%;
}

/* IDs */

#emergencyTitle{
  margin-left: 6rem;
}

#map {
  height: 180px;
}


