
/* Componentes de Ionic */

img{
  max-width: none;
}

body {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100vw;
}

span{
  font-weight: bold;
}

/* Clases */

.modo {
  text-align: center;
}

.modo h2 {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.124);
  font-size: 25px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.modo h4 {
  font-size: 20px;
  margin: 2rem 0;
}

.container{
  background-color: #ffffff;
}

.header{
  height: 20%;
  background-color: #86898a;
}

.instruction {
  overflow-y: auto;
  margin: 0 1rem;
}

.imgInfo{
  background-color: #ffffff;
  /* border-radius: 50%; */
}

.emergencyIcon{
  width: 60%;
}

.volunteerButton{
  width: 45px;
    height: 45px;
}


.location {
  border: 1px solid #ccc;
  height: 300px;
  grid-template-columns: 1fr;
}

.accButton{
  --background: red;
    text-align: center;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:80%;
    margin-left: 1.8rem;
    margin-bottom: 1rem;
}

.date .calendar,
.date .person {
  margin-left: 20px;
}

.circulo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #000;
  margin: 5px 0;
}

/* IDs */

#map{
  height: 45vh;
}

#calendarIcon{
  font-size: 20px;
  margin-bottom: -3px;
  margin-right: 3px;
}

#responsibleIcon{
  font-size: 20px;
  margin-bottom: -3px;
  margin-right: 3px;
}

#emergencyTitle{
  margin-left: 6rem;
}

#volunteerIcon{
  width: 80%;
  height: 80%;
}





