ion-list{
  --ion-list-color:#ffffff  !important;
  color: rgb(255, 253, 253);
}

/* IDs */

#search{
  width: 94%;
  --border-radius: 25px;
}

#lista{
  font-size: 12px;
}


.texto{
  text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.imagen{
  margin-top: 4rem;
}
