 <app-header titulo="SIGREYD" class="ion-no-border">

</app-header>

<ion-content fullscreen>

  <section class="ion-margin-bottom">
    <ion-slides [options]="option" pager>

      <ion-slide>

        <ion-card>
          <ion-card-header>
          <img class="imgHeader" src="../../../assets/img-client/CruzRoja -Ilustracion.png" alt="inicioLogo">
          </ion-card-header>
          <ion-card-subtitle>
            <h6>Capacitaciones</h6>
            <p>
              Sumate a nuestras campañas. <br/>
              Mas información en nuestra <a href="https://www.cruzroja.org.ar/">pagina web</a>
            </p>
          </ion-card-subtitle>
        </ion-card>

      </ion-slide>

      <ion-slide>
        <ion-card>
          <img class="imgHeader" id="emergency" src="../../../assets/img-client/emergencias.jpg" alt="emergenciaImg">
          <ion-card-header>
            <h5>Emergencias</h5>
          </ion-card-header>
          <ion-card-subtitle>
            <p>
              Acompañamos a las comunidades antes, durante y después de emergencias y desastres.
            </p>
          </ion-card-subtitle>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <img class="imgHeader" src="../../../assets/img-client/abuelos.jpg" alt="emergenciaImg">
          <ion-card-header>
            <h5>Teleasistencia</h5>
          </ion-card-header>
          <ion-card-subtitle>
            <p>
              Servicio de teleasistencia para adultos mayores y personas con discapacidad
            </p>
          </ion-card-subtitle>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </section>

  <section id="quienesSomos">
    <div class="content">
    <div>
      <img src="../../../assets/img-client/codos.jpg" alt="">
    </div>
    <img id="quienesSomosLogo" src="../../../assets/img-client/quienesomos.png" alt="">
      <p class="">
        Somos una asociación civil, humanitaria y de carácter voluntario, con presencia en el territorio argentino, y parte integrante del Movimiento Internacional de la Cruz Roja y de la Media Luna Roja, la red humanitaria más grande del mundo presente en 191 países. <br/>
        Capacitamos en Primeros Auxilios a más de 50.000 personas por año en el país y brindamos cobertura a los asistentes en eventos masivos.</p>
    </div>
  </section>

  <section>
    <ion-slides>
      <ion-slide>
        <div id="donarSangre">
          <img id="donarSangreLogo" src="../../../assets/img-client/vidadona.png" alt="">
          <h6>
            <b>
            Sumate a nuestro banco virtual de donantes de sangre
            </b>
          </h6>
          <a href="https://www.cruzroja.org.ar/filiales-banco-de-sangre/">
            <ion-button id="verMasDonarSangre"shape="round">
              Ver Más
            </ion-button>
          </a>
        </div>
      </ion-slide>

      <ion-slide>
        <div id="convivir">
          <img id="convivirLogo" src="../../../assets/img-client/convivir.png" alt="">
          <h6>
            <b>
              Centros de Prevención, Asesoramiento y Diagnóstico de VIH
            </b>
          </h6>

            <a href="https://www.cruzroja.org.ar/filiales-vih/">
              <ion-button id="verMasDonarSangre"shape="round">
                Ver Más
              </ion-button>
            </a>
       </div>
      </ion-slide>
    </ion-slides>
  </section>

 <!--  <div class="container">
    <img src="../../../assets/img-client/sumate-1.png" alt="SumateLogo">
    <img style="margin-left: 2rem" src="../../../assets/img-client/vidadona.png" alt="SumateLogo">
  </div>
  <img  src="../../../assets/img-client/logo.png" alt="CruzRojaLogo"> -->
</ion-content>
<!-- <app-menu showTabs></app-menu> -->
