<ion-header class="ion-no-border">
	<ion-toolbar>
    <ion-title>SICREYD</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

  <div class="slides ion-margin-bottom">
    <ion-slides pager="true">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="main">
              <img src="../../../assets/img-client/CruzRoja -Ilustracion.png" alt="inicioLogo">
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>Sumate a nuestra campaña</ion-card-title>
            <ion-card-subtitle>Mas información en nuestra pagina web </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="main">
              <img id="emergency" src="../../../assets/img-client/emergencias.jpg" alt="emergenciaImg">
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>Sumate a nuestra campaña</ion-card-title>
            <ion-card-subtitle>Mas información en nuestra pagina web </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="container">
    <img src="../../../assets/img-client/sumate-1.png" alt="SumateLogo">
    <img style="margin-left: 2rem" src="../../../assets/img-client/vidadona.png" alt="SumateLogo">
  </div>
  <img  src="../../../assets/img-client/logo.png" alt="CruzRojaLogo">
</ion-content>
<!-- <app-menu showTabs></app-menu> -->
