/* Componentes de Ionic */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1, p {
  margin: 0;
  color: #fff;
  margin-left: 10px;
}

h1 {
  font-size: 1.2rem;
  font-weight: bold;
}

p {
  opacity: 0.7;
  margin-top: 3px;
  font-size: 0.8rem;
}

ion-icon {
  font-size: 20px;
  margin-left: 3px;
  margin-bottom: 3px;
  transform: rotate(-45deg);
}

ion-toolbar {
  box-shadow: 1;
}

input::placeholder {
  padding-left: 10px;
}

/* Clases */

.details {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.item-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: static;
  bottom: 20px;
  width: 97vw;
  left: 50%;
}

.message {
  border-radius: 2px;
  font-size: 0.9rem;
  white-space: pre-wrap;
  border-radius: 10px;
  font-size: 12px;
  white-space: pre-wrap;
  margin-top: 10px;
}

/* Mensaje interno */

.my-message {
  background: #bd2d2d;
  color: #fff;
  right: 20px;
}

/* Mensaje externo */

.other-message {
  background: #184370;
  color: #fff;
}

.hide {
  visibility: hidden;
}

.time {
  color: #fff;
  float: right;
  font-size: 12px;
}

.btnSend {
  fill: clear;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  outline: none;
  margin-top: 3px;
  /* color: rgb(80, 80, 80); */
}

/* IDs */

#footer-input {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#userName {
  margin-right: 10rem;
  font-weight: bold;
}

#chat-input {
  border: 1px solid #ddd;
  height: 45px;
  background-color: #ddd;
  border-radius: 10px;
  resize: none;
  outline: none;
  border: none;
  width: 100%;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 5px;
  color: #5f5e5e;
}

#fab-button {
  border-radius: 50%;
  font-size: 24px;
  background-color: #a0a0a0;
  position: fixed;
  top: 1000px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: .5s;
  z-index: 100;
  transform: rotate(45deg);
}

#scrollBackIcon {
  margin-top: 7px;
  margin-right: 5px;
  font-size: 26px
}

::-webkit-scrollbar {
  display: none;
}

#btnSend:hover {
  background: rgba(235, 231, 231, 0.459);
}