<!-- <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button type="button" defaultHref='tabs/chat'></ion-back-button>
      </ion-buttons>
    <ion-title>#{{id}}</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar color="light" *ngIf="!isLoading">
    <div class="header ion-padding">
      <div class="info" style="cursor: pointer;">
        <ion-buttons slot="start" style="position: relative; left: -8px;">
          <ion-back-button type="button" defaultHref='tabs/chat'></ion-back-button>
          <ion-avatar style="width: 50px;   border: 1px solid rgba(42, 42, 42, 0.364);">
            <img
              src="../../../assets/icons - Chat/{{chat.emergenciesDisasters.typesEmergenciesDisasters.typeEmergencyDisasterIcon}}.svg"
              alt="" />
          </ion-avatar>
        </ion-buttons>
        <span class="details" (click)="infoChat(chat.id)">
          <h1>#{{id}}</h1>
          <!-- <p>{{chat.emergenciesDisasters.typesEmergenciesDisasters.typeEmergencyDisasterName}}</p> -->
          <p style="width: 100px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;">{{chat.emergenciesDisasters.locationsEmergenciesDisasters.locationCityName}}</p>

        </span>
      </div>

      <ion-buttons slot="end">
        <ion-button (click)="presentActionSheet()">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>

  </ion-toolbar>
</ion-header>


<ion-content *ngIf="!isLoading" [scrollEvents]="true" (ionScroll)="handleScroll($event)">
  <ion-fab class="boton2" id="fab-button" vertical="bottom" horizontal="end" slot="fixed">

    <ion-fab-button size="small" (click)="scrollToBottom()" color="light">
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- <button (click)="scrollToBottom()">
    <ion-icon id="scrollBackIcon" name="chevron-down-outline"></ion-icon>
  </button>  -->
  <!-- <cdk-virtual-scroll-viewport class="ion-content-scroll-host" itemSize="56" minBufferPx="900" maxBufferPx="1350"> -->

  <!-- <div class="header ion-padding">
      <div class="info">
        <ion-buttons slot="start">
          <ion-back-button type="button" defaultHref='tabs/chat'></ion-back-button>
        </ion-buttons>
         <ion-avatar>
          <img src="https://i.pravatar.cc/243" alt="" />
        </ion-avatar>
        <span class="details">
          <h1>Josue</h1>
          <p>online</p>
        </span>
      </div>
      <div class="calling">
        <ion-icon name="call-outline"></ion-icon>
      </div>
    </div> -->



  <div class="conversation ion-padding">
    <div class="chat-section" id="chat">
      <div class="chat" *ngFor="let days of chat.dateMessage; index as i">
        <div class="date">
          <span *ngIf="days.createdDate !== changeFormat">{{days.createdDate}}</span>
          <span *ngIf="days.createdDate === changeFormat">Hoy</span>
        </div>
        <div class="messages" [ngClass]="messages.userID === currentUser.userID ? 'mine': 'yours'"
          *ngFor="let messages of days.messages; index as j">
          <div class="message" *ngIf="days.messages[j+1] && messages.userID === currentUser.userID">
            {{messages.message}}
          </div>
          <div class="message other"
            *ngIf="messages.userID !== currentUser.userID && days.messages[j+1] && days.messages[j+1].userID !== currentUser.userID">
            <span class="name">{{messages.name | titlecase}}</span>
            <span class="role">{{messages.roleName | titlecase}}</span>
            <div class="mess">
              {{messages.message}}
            </div>
          </div>
          <div class="message last" *ngIf="messages.userID === currentUser.userID && !days.messages[j+1]">
            {{messages.message}}
          </div>
          <div *ngIf="messages.userID !== currentUser.userID && isLast(i,j)" class='last-message-other'>
            <ion-avatar>
              <img src="{{messages.avatar}}" alt="" />
            </ion-avatar>

            <div class="message last">

              <span class="name">{{messages.name | titlecase}}</span>
              <span class="role">{{messages.roleName | titlecase}}</span>
              <div class="mess">
                {{messages.message}}
              </div>
            </div>

          </div>
          <span>
            <ion-icon name="checkmark-outline"
              *ngIf="messages.userID === currentUser.userID && messages.messageState === true"></ion-icon>
            <ion-icon name="checkmark-done-outline"
              *ngIf="messages.userID === currentUser.userID && messages.messageState === false"></ion-icon>
            {{messages.createdDate | date:'shortTime'}}
          </span>
        </div>
        <!-- <div class="mine messages">
            <div class="message">
              Great Thanks.!
            </div>
            <div class="message last">
              Hello Word!
            </div>
          </div>
          <div class="yours messages">
            <div class="message other">
              Hey!
            </div>
            <div class="message other">
              Klk!
            </div>
            <div class="last-message-other">
              <ion-avatar>
                <img src="https://i.pravatar.cc/545" alt="" />
              </ion-avatar>
              <div class="message last">
                Hello, how`s going?
              </div>
            </div>
            <span>1:22 PM</span>
          </div>
          <div class="mine messages">
            <div class="message">
              Great Thanks.!
            </div>
            <div class="message last">
              Hello Word!
            </div>
            <span>
              <ion-icon name="checkmark-done-outline"></ion-icon>
              2:00 PM
            </span>
          </div>
          <div class="yours messages">
            <div class="message other">
              Hey!
            </div>
            <div class="message other">
              Klk!
            </div>
            <div class="last-message-other">
              <ion-avatar>
                <img src="https://i.pravatar.cc/545" alt="" />
              </ion-avatar>
              <div class="message last">
                Hello, how`s going?
              </div>
            </div>
            <span>1:22 PM</span>
          </div>
          <div class="mine messages">
            <div class="message">
              Great Thanks.!
            </div>
            <div class="message last">
              Hello Word!
            </div>
            <span>
              <ion-icon name="checkmark-done-outline"></ion-icon>
              2:00 PM
            </span>
          </div> -->
      </div>
    </div>


  </div>
  <!-- </cdk-virtual-scroll-viewport> -->
</ion-content>
<!-- <div class="header ion-no-border">
  <div class="info">
    <ion-buttons slot="start">
      <ion-back-button type="button" defaultHref="chat"></ion-back-button>
    </ion-buttons>
    <ion-avatar id="emergencyIcon">
      <img src="../../../assets/icons - Chat/{{chat.emergenciesDisasters.typesEmergenciesDisasters.typeEmergencyDisasterIcon}}.svg" alt="">
    </ion-avatar>
    <span class="details">
        <h1>{{chat.emergenciesDisasters.typeEmergencyDisasterName}}</h1>
    </span>
  </div>
</div> -->


<!-- <ion-fab>
  <ion-fab-button (click)="leaveGroup()">
      <ion-avatar>
        <ion-icon name="caret-back-circle-outline"></ion-icon>
      </ion-avatar>
  </ion-fab-button>
</ion-fab> -->


<!-- Mensajes -->

<!-- <ion-content [scrollEvents]="true" *ngIf="!isLoading">
  botón para volver al final del chat -->
<!-- <button id="fab-button" (click)="scrollToBottom()">
      <ion-icon id="scrollBackIcon" name="chevron-down-outline"></ion-icon>
    </button> 
    <ion-grid>
      <ion-row>
        <ion-col size="12" *ngFor="let days of chat.dateMessage">
          <ion-grid>
            <ion-row>
    <p class="divisor">{{days.createdDate}}</p>
    <ion-col [offset]="(item.fK_UserID === currentUser.userID) ? '3' : '0'" size="9" 
    *ngFor="let item of days.messages" class= "message"
     [ngClass]="(item.fK_UserID === currentUser.userID) ? 'my-message' : 'other-message'">
        <span id="userName">{{item.name}}</span>
      <div>
        <span id="message">{{item.message}}</span>
      </div>
      <div class="time">
        <span>{{item.createdDate}}</span>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>-->

<ion-content *ngIf="isLoading">
  <ion-list>
    <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1]">
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!-- Input -->
<!-- <div class="message-input">
  <ion-input placeholder="Type your message..."></ion-input>
  <div class="send-button">
    <ion-icon name="send-sharp"></ion-icon>
  </div>
</div> -->

<ion-footer ion-padding>
  <form [formGroup]="chatForm" (ngSubmit)="postChat()" footer-input>
    <ion-label class="item-input-wrapper">

      <textarea autosize maxRows="3" type="text" formControlName="message" name="message"
        placeholder="Enviar mensaje..." id="chat-input" #txtQuery (keyup)="onQueryChange(txtQuery.value)"></textarea>

      <button type="submit" id="btnSend" [disabled]="chatForm.get('message').invalid">
        <ion-icon id="btnIcon" name="send-sharp"></ion-icon>
      </button>
    </ion-label>
  </form>
</ion-footer>