
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

.item-input-wrapper{
  width: 95%;
  display: flex;
  margin-bottom: 3px;
}

/* Clases */

.message{
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
  white-space: pre-wrap;
}

/* Mensaje interno */
.my-message{
  background: #3fa1ce;
  color: #fff;
  text-align: right;
}

/* Mensaje externo */
.other-message{
  background: var(--ion-color-tertiary);
  color: #fff
}

.hide{
  visibility: hidden;
}

.time{
  color: #dfdfdf;
  float: right;
  font-size: 12px;
  margin-top: 1rem;
}

p{
  margin-top: -5px;
}

/* IDs */

#footer-input{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.btnSend {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  outline: none;
  margin-top: 3px;
  margin-right: -3px;
}


#chat-input{
  height: 45px;
  border-radius: 15px;
  outline: none;
  border: none;
  width: 100%;
  margin-right: 10px;
  margin-left: 3px;
  margin-top: 3px;
  resize: none;
  background-color: #5c1a1a;
  color: #fff;
}

input::placeholder {
  padding-left: 10px;
}

#fab-button{
  border-radius: 50%;
  position: fixed;
  top: 1000px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: .5s;
  z-index: 100;
  background-color: #cc2020ca;
  transform: rotate(-45deg);
}

ion-icon{
  font-size: 24px;
  margin-right: 5px;
  transform: rotate(45deg);
}

::-webkit-scrollbar {
  display: none;
}


#btnSend:hover{
  background: rgba(235, 231, 231, 0.459);
}

/* ion-content{
  --offset-bottom:  2px !important;
}
 */
