<ion-header>
  <ion-header class="ion-no-border">
    <div>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button type="button" defaultHref="chat"></ion-back-button>
        </ion-buttons>

        <ion-title
          >Incendio urbano
          <br />
          Cruz del Eje</ion-title
        >
      </ion-toolbar>
    </div>
  </ion-header>
</ion-header>

<ion-content>


 <!-- mensajes -->


    <ion-row *ngFor="let message of messages">
      <ion-col size="9" class="message other-message">
        <b>{{message.user}}</b><br>
        <span>{{message.message}}</span>
        <div class="time">
          {{message.createDate | date:'short'}}
        </div>
      </ion-col>

      <ion-col size="9" offset="3" class="message my-message">
        <b>{{message.user}}</b><br>
        <span>{{message.message}}</span>
        <div class="time">
          {{message.createDate | date:'short'}}
        </div>
      </ion-col>

    </ion-row>

<!-- input -->


</ion-content>

<ion-footer>
  <form id="footer-input" ng-submit="add(message)">
    <ion-label class="item-input-wrapper">

      <input type="text" placeholder="Usuario" id="user"

      (change)="value()" />

      <input type="text" placeholder="Enviar mensaje..." id="chat-input" (change)="value()" />

        <button id="btnSend">

          <ion-icon name="paper-plane-outline"></ion-icon>

        </button>
    </ion-label>

</form>
</ion-footer>
