<ion-header>
  <ion-toolbar>
    <ion-title>Alertas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngFor="let alert of alerts; index as i">

      <div>
        <ion-card
          id="card"
          [ngStyle]="{backgroundColor: getColor(alert.alerts.alertDegree)}"
        >
        <ion-button id="options" fill="clear">
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>

          <!--Header del card-->
          <div class="header">
            <ion-card-header>
              <ion-thumbnail>
                <img
                  src="../../../assets/icons - Resources - EmergDesas/{{alert.typesEmergenciesDisasters.typeEmergencyDisasterIcon}}.svg"
                />
              </ion-thumbnail>
            </ion-card-header>

            <ion-card-title
              >{{alert.typesEmergenciesDisasters.typeEmergencyDisasterName}}</ion-card-title
            >
          </div>

          <!--Contenido del card-->

          <ion-card-content>
            <div class="ubicationClass">
              <!--                 <ion-icon name="locate-outline"></ion-icon>
 -->
              <ion-label>
                <!-- Ubicación: -->
                {{alert.locations.locationCityName}}
              </ion-label>
            </div>

            <div class="emergencyTimeClass">
              <!--                 <ion-icon name="calendar-outline"></ion-icon>
 -->
              <ion-label class="time">
                <!-- Fecha - Hora (Inicio):  -->{{alert.emergencyDisasterStartDate
                }}
              </ion-label>
            </div>

            <div *ngIf="alert.emergencyDisasterEndDate" style="display: none">
              <ion-label
                >Fecha - Hora (Final):
                {{alert.emergencyDisasterEndDate}}</ion-label
              >
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </ng-container>
  </ion-list>
</ion-content>
