<app-header titulo="Alertas"></app-header>

<!-- Vista de Alertas mejorado -->

<ion-content>
  <ion-grid>
    <ion-row wrap>
      <ion-col *ngFor="let alert of alerts; index as i" size="3" fixed [ngStyle]="{backgroundColor: getColor(alert.alerts.alertDegree)}">
        <img id="emergencyIcon"src="../../../assets/icons - Resources - EmergDesas/{{alert.typesEmergenciesDisasters.typeEmergencyDisasterIcon}}.svg"/>
        <div class="card-content">
          <h3 class="subtitle">ID: {{alert.emergencyDisasterID}}</h3>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- <app-menu showTabs></app-menu> -->
