ion-card{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex-wrap: wrap;
  margin: 10px;
}

ion-card-title{
  font-size: 15px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color:#000;
  width: 80%;
  padding-left: 50px;
}

ion-label{
  color:#000;
}

/* Clases */

.ubicationClass{
  /* margin-left: -5px; */
 /*  margin-top: -13px; */
  font-size: 13px;
}

.emergencyTimeClass{
 /*  margin-left: -5px; */
  font-size: 13px;
  margin-left: 16px;
}

.buttonVolunteerClass{
  --background: rgb(1, 129, 1);
  display: block;
  width: 140px;
  font-size: 20px;
}

.buttonAlertDetailClass{
  margin-left: 10rem;
  /* margin-top: -40px; */
  display: block;
  width: 140px;
  font-size: 20px;
}

.labelButton{
  font-size: 24px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.emergency{
  display: flex;
  width: 100%;
  align-items: center;
}

/* ID */

#options{
  margin-top: 4px;
  margin-left: 16rem;
  color: white;
  font-size: 16px;
  padding: 4px;
}

#btnSlide{
  color: #ffffff;
  font-size: 20px;
  background-color: transparent;
  outline: none;
  width: 20%;
}

ion-card-content{
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
